<form [formGroup]="eqForm" (ngSubmit)="submit()" novalidate>
    <div class="form-container">
        <div class="row columns">
            <h1>Busca Sismos</h1>
            <label>Magnitud Mínima
              <input type="number" class="form-control" formControlName="Magnitud">
            </label>
            <div class="alert" *ngIf="!eqForm.controls['Magnitud'].valid && eqForm.controls['Magnitud'].touched">
              Magnitud Mínima requerida
            </div>

            <label>Desde 
              <input type="date"  formControlName="Inicio">
            </label>
            <div class="alert" *ngIf="!eqForm.controls['Inicio'].valid && eqForm.controls['Inicio'].touched">
              Fecha de Inicio requerida
            </div>

            <label>Hasta
              <input type="date"  formControlName="Fin">
            </label>    
            <div class="alert" *ngIf="!eqForm.controls['Fin'].valid && eqForm.controls['Fin'].touched">
              Fecha Final requerida
            </div>

            <button type="submit" class="button expanded" [disabled]="!eqForm.valid">Consultar</button>            
        </div>
    </div>
  </form>


  <div class = "mat-elevation-z8" *ngIf="found; else noEqs">
      <h2>Temblores de magnitud mínima de {{mag}}</h2>
      <table>
        <tr>
          <th>Lugar</th>
          <th>Magnitud</th>
          <th>Fecha</th>
        </tr>
        <tr *ngFor="let item of eqs | paginate: {itemsPerPage:10, currentPage:p}">
          <td> {{item['properties'].place}} </td> 
          <td> {{item['properties'].mag}} </td>
          <td> {{item['properties'].time | date}} </td>
        </tr>
        <pagination-controls (pageChange)="p =$event"> </pagination-controls>
      </table>

      <h3>Ubicaciones</h3>
      <agm-map [latitude]= "eqs[0]['geometry']['coordinates'][1]" [longitude] = "eqs[0]['geometry']['coordinates'][0]" [gestureHandling]="cooperative">
        <agm-marker *ngFor="let eq of eqs" [latitude]= "eq['geometry']['coordinates'][1]" [longitude] = "eq['geometry']['coordinates'][0]" ></agm-marker>
      </agm-map>

  </div>

  
  <ng-template #noEqs >
    <div class="mat-elevation-z8">
      <h2>{{message}}</h2>
    </div>
  </ng-template>


