<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home"  (click)= "showFiller=1">Home</a>
      <a mat-list-item routerLink="/services" (click)= "showFiller=2">Servicios</a>
      <a mat-list-item routerLink="/contact" (click)= "showFiller=3">Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Responsivo</span>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <h1 *ngIf="showFiller==1"> Bienvenido</h1>
    <ul *ngIf="showFiller==2">
        <h1>Servicios</h1>
        <li>Standard</li>
        <li>Special</li>
        <li>Custom</li>
    </ul> 
    <div *ngIf="showFiller==3"> 
      <h1>Contacto</h1>
      <p>951 277-63-92</p>     

    </div>

    <ng-content></ng-content>
    
   
    
  </mat-sidenav-content>
  
</mat-sidenav-container>

